.container {
    display: flex;
    justify-content: center;
    align-items: centre;
    min-height: 100vh;
}

input[type='radio'] {
    display: none;
}

.star {
    cursor: pointer;
    transition: color 200ms;
    width: 18vw;
}

.movie {
    width: 80vw;
}