#homepage {
    display: flex;
    flex-direction: column;
    background-color: #E5E9F8;

}


#mainBody {
    height: 95vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;;
}
