.navbar {
    height: 10vh;
    position: fixed;
    top: 92vh;
    width: 100vw;


    
}

#navContainer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#topButton {
    align-self: center;
    height: 10vh;
    width: 10vh;
    background-image: url('../../images/watchButton.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: fixed;
    top: 88vh;
}

#topButton:hover, .swipeButton:hover, .rateButton:hover, .profileButton:hover, .settingsButton:hover {
    transform: translateY(-4px);
    transition: all 0.3s ease-in;
}
#topButton:active, .swipeButton:active, .rateButton:active, .profileButton:active, .settingsButton:active {
    transform: scale(0.9);
}

#LinkContainer {
    height: 10vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url('../../images/navbar.png');
    background-size: cover;
    background-repeat: no-repeat;
}
@media(min-width: 1024px){
    #LinkContainer {
        background-image: url('../../images/navbar-big.png');
    }
}

.doubleLinkContainer {
    width: 33vw;
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 1vh;
}

.swipeButton, .settingsButton, .rateButton, .profileButton {
    height: 5vh;
    width: 5vh;
    background-repeat: no-repeat;
    background-size: contain;
}
.swipeButton {
    background-image: url('../../images/swipeButton.png');
}
.rateButton {
    background-image: url('../../images/rateButton.png');
}

.profileButton {
    background-image: url('../../images/profileButton.png');
}

.settingsButton {
    background-image: url('../../images/settingsButton.png');
}

