.navbar {
    height: 10vh;
    position: fixed;
    top: 92vh;
    width: 100vw;
    
}

#navContainer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#topButton {
    align-self: center;
    height: 8vh;
    width: 8vh;
    background-image: url('../../images/watchButton.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: fixed;
    right: 41vw;
    top: 90vh;
}


#LinkContainer {
    height: 10vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url('../../images/navbar.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.doubleLinkContainer {
    width: 33vw;
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 1vh;
}

.swipeButton {
    height: 5vh;
    width: 5vh;
    background-image: url('../../images/swipeButton.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.rateButton {
    height: 5vh;
    width: 5vh;
    background-image: url('../../images/rateButton.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.profileButton {
    height: 5vh;
    width: 5vh;
    background-image: url('../../images/profileButton.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.settingsButton {
    height: 5vh;
    width: 5vh;
    background-image: url('../../images/settingsButton.png');
    background-repeat: no-repeat;
    background-size: contain;
}